.box-footer {
  margin-top:1rem;
  display: flex;
  justify-content: center;
  padding:1rem;
  @media(max-width:1900px) {
    position:relative;
  }
}


p{
  
  font-family: 'Poppins';
  font-weight: 200;
  font-size: 0.5rem;
  color:white;
  display:block;
}

span {
  font-size: 0.8rem;
  color:rgb(152, 137, 255);
}