.box-footer {
  display: flex;
  justify-content: center;
  position:fixed;
  bottom:0;
  right:50%;
}


p{
  font-family: 'Poppins';
  font-weight: 200;
  font-size: 0.8rem;
  color:white;
}

span {
  color:rgb(152, 137, 255);
}