.archive {

  max-width:2500px;
  padding:0rem 10rem ;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 32px;
  grid-auto-flow: dense;
}

.article {
  position:relative;
  h2 {
    position:absolute;
    color:white;
    top:50px;
    right:8px;
    font-size:3rem;
    font-family:'Poppins';
    font-weight:200;

  }
}

// .article:nth-child(31n + 1) {
//   grid-column: 1 / -1;
// }
// .article:nth-child(16n + 2) {
//   grid-column: -3 / -1;
// }
// .article:nth-child(16n + 10) {
//   grid-column: 1 / -2;
// }

@media (max-width: 820px) {
  .archive {
    padding:2rem;
  }
}

@media (max-width: 459px) {
  .archive {
    display: flex;
    flex-direction: column;
    padding:0rem;
  }
}
