nav {
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:1rem 2rem 4rem 0rem;;
  

}

.logo{
  animation: rotate 8s linear infinite;
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    
    }
    to {
      transform: rotate(360deg);
      
    }
  }
}


ul {
  display:flex;
  align-items: center;
  list-style-type:none;
  margin-left:3.2rem;

  li {
    margin-right:2rem;
    font-family: 'Poppins';
    font-size: 1.2rem;
    font-weight: 200;
    letter-spacing: 0.3rem;
    
    a{
      text-decoration: none;
      color:rgb(198, 198, 198);
    }
    
  }
}